In [ ]:
#import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [ ]:
#current dir
cwd = os.getcwd()

#load Value of Energy Cost Saving Program CSV dataset
df = pd.read_csv(cwd + '/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_FY2020.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Question 1: How many different companies are represented in the data set?
df['Company Name'].nunique()

In [ ]:
df.columns

In [ ]:
#Question 2: What is the total number of jobs created for businesses in Queens?
df.groupby('Borough')['Job created'].sum()

In [ ]:
#Question 3: How many different unique email domains names are there in the data set?
df['company email'].nunique()

In [ ]:
#Question 4: Considering only NTAs with at least 5 listed businesses, 
#what is the average total savings and the total jobs created for each NTA? 

#Create mask of NTA with at least 5 businesses
mask_5 = df.groupby('NTA')['Company Name'].nunique() > 4

In [ ]:
#Question 4 - Average total savings
average_savings = df.groupby('NTA')['Total Savings'].mean()

average_savings = pd.DataFrame(average_savings[mask_5]) 
average_savings

In [ ]:
#Question 4 - total jobs created
jobs_created = df.groupby('NTA')['Job created'].sum()

jobs_created = pd.DataFrame(jobs_created[mask_5]) 
jobs_created

In [ ]:
#save to CSV file

df_combine = pd.concat([average_savings,jobs_created], axis = 1)
df_combine

In [ ]:
#scatter plot of jobs created versus average savings.
#Use both a standard and a logarithmic scale for the average savings. 

plt.scatter(df_combine['Total Savings'], df_combine['Job created'])
plt.xlabel('Total Savings');
plt.ylabel('Jobs Created');

In [ ]:
#scatter plot of jobs created versus average savings (logarithmic scale).
plt.scatter(np.log2(df_combine['Total Savings']),(df_combine['Job created']))
plt.xlabel('Log Total Savings');
plt.ylabel('Jobs Created');

In [ ]:
#histogram of the log of the average total savings
plt.hist(np.log2(df_combine['Total Savings']));
plt.xlabel('Log Total Savings');

In [ ]:
df['month'] = pd.to_datetime(df['Effective Date']).dt.month

In [ ]:
#line plot of the total jobs created for each month.

#extract the month from the effective date of each row
df['month'] = pd.to_datetime(df['Effective Date']).dt.month

#groupby month and sum the jobs created
plt.plot(df.groupby('month')['Job created'].sum())
plt.xticks(range(1,13));
plt.xlabel('Month');
plt.ylabel('Jobs created');